/* =========================
GLOBAL
========================= */

*{
box-sizing:border-box;
margin:0;
padding:0;
}

body{
font-family:Arial, sans-serif;
background:black;
color:white;
}

/* scoate culoarea albastră a linkurilor */

a{
text-decoration:none;
color:inherit;
}


/* =========================
NAVBAR
========================= */

.navbar{
position:sticky;
top:0;
z-index:1000;

display:flex;
justify-content:space-between;
align-items:center;

padding:18px 60px;

background:rgba(255,255,255,0.95);
backdrop-filter:blur(8px);

box-shadow:0 4px 15px rgba(0,0,0,0.05);
}

.logo{
font-size:22px;
font-weight:700;
color:black;
font-family:"Playfair Display", serif;
}

.nav-link{
margin-left:25px;
font-weight:600;
font-size:17px;
color:#333;
position:relative;
transition:0.3s;
}

.nav-link::after{
content:"";
position:absolute;
left:0;
bottom:-5px;
width:0;
height:2px;
background:black;
transition:0.3s;
}

.nav-link:hover::after{
width:100%;
}


/* =========================
HERO
========================= */

.hero{
position:relative;
margin-bottom:80px;
}

.hero::after{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;

background: linear-gradient(
to bottom,
rgba (0,0,0,0.15),
rgba (0,0,0,0.55)
);

pointer-events: none;

}

.hero-img{
width:100%;
height:70vh;
object-fit:cover;
object-position: 25%;
}

.hero-text{ 
position:absolute;
top:45%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
z-index:2;
}

.hero-text h1{
font-size:60px;
font-family:"Playfair Display", serif;
letter-spacing:3px;
color:white;
}

.hero-text h1:first-child{
font-size:40px;
font-weight:400;
opacity:0.85;
}
.hero-text h1:last-child{
font-size:64px;
font-weight:600;
}

.hero-text p{
font-size:15px;
letter-spacing:5px;
margin-top:14px;
color:white;
opacity: 0.9;
}

.hero-text h1{
text-shadow: 0 6px 40px rgba(0,0,0,0.08);
}


/* =========================
OUTFITS SECTION
========================= */

.outfits{
padding:100px 20px;
}

.outfits h2{
text-align:center;
font-size:32px;
margin-bottom:60px;
color:white;
}

.outfits-container{

max-width:1200px;
margin:auto;

display:flex;
gap:60px;
align-items:flex-start;
}

.outfit-left{
flex:1;
text-align:center;
}

.main-outfit{
width:100%;
max-width:420px;

border-radius:14px;

box-shadow:0 15px 40px rgba(0,0,0,0.25);
margin-bottom:35px;
}


/* =========================
SHOP BUTTON
========================= */

.big-shop-btn{
display:inline-block;

padding:14px 30px;
border-radius:10px;

background:white;
color:black;

font-weight:600;

transition:all 0.3s ease;
}

.big-shop-btn:hover{
background:#ddd;
transform:scale(1.06);
}


/* =========================
PRODUCT GRID
========================= */

.outfit-right{
flex:1;
}

.shop-title{
font-size:24px;
margin-bottom:25px;
color:white;
}

.products{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
}

.product{

background:white;

padding:15px;

border-radius:12px;

color:#111;

box-shadow:0 8px 25px rgba(0,0,0,0.08);

transition:all 0.3s ease;
}

.product img{

width:100%;
height:160px;

object-fit:contain;

border-radius:8px;
margin-bottom:10px;
}

.product p{

font-size:14px;
font-weight:600;

background:black;
color:white;

padding:8px;
border-radius:6px;
margin-top:8px;

text-align:center;
}

.product:hover{

transform:translateY(-8px) scale(1.02);

box-shadow:0 20px 40px rgba(0,0,0,0.15);
}


/* =========================
PINTEREST GRID
========================= */

.pinterest-grid{

column-count:3;
column-gap:30px;

max-width:1300px;
margin:auto;

padding:40px 20px;
}

.pinterest-grid img{

width:100%;
margin-bottom:30px;

border-radius:14px;

cursor:pointer;

transition:all 0.35s ease;
}

.pinterest-grid img:hover{

transform:scale(1.05);

box-shadow:0 25px 50px rgba(0,0,0,0.18);
}


/* =========================
OUTFIT CARD
========================= */

.outfit-card{

position:relative;
overflow:hidden;

border-radius:14px;
}

.outfit-card img{
width:100%;
display:block;
}

.outfit-card::after{

content:"SHOP THIS OUTFIT";

position:absolute;
bottom:18px;
left:50%;

transform:translateX(-50%);

background:rgba(0,0,0,0.85);
color:white;

padding:10px 18px;
border-radius:10px;

font-size:14px;
letter-spacing:1px;

opacity:0;

transition:0.3s;
}

.outfit-card:hover::after{
opacity:1;
}

.outfit-card:hover{
transform:scale(1.03);
}

/* =========================
SHOP OUTFITS GRID
========================= */

.categories{
max-width:1200px;
margin:80px auto;
text-align:center;
}

.categories h2{
font-size:34px;
letter-spacing:6px;

display:inline-block;
padding:12px 35px;

border:2px solid white;
border-radius:8px;

margin-bottom:60px;
}


.shop-grid{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;

}

.shop-card{

width:100%;

max-width:none;

border:2px solid rgba(255,255,255,0.4);

border-radius:16px;

overflow:hidden;

transition:0.3s;

position: relative;
}


.shop-card img{
width:100%;
height:100%;
object-fit:cover;
}
/*====== Tilurile de pe carduri ========== */

.shop-card p{

position:absolute;
bottom:0;
left:0;
width:100%;
font-size:18px;
font-weight:600;
color:white;
background:rgba(0,0,0,0.5);
padding:8px 0;
text-align:center;
}


.shop-card:hover{

transform:scale(1.05);

border-color:white;
}

/* =========================
RESPONSIVE DESKTOP MARE/LAPTOP
========================= */

@media (min-width:1200px){
    .hero-img{
        height:70vh;
    }
}

@media (max-width:1000px){


.outfits-container{
flex-direction:column;
align-items:center;
}

.outfit-right{
width:100%;
}

.products{
grid-template-columns:repeat(2,1fr);
}

}

/*====== CUM SE VEDE PE TELEFON ====== */

@media (max-width:768px){

.navbar{
padding:15px 20px;
}

.hero-img{
height:55vh;
}

.hero h1{
font-size:36px;
}

.hero-text h1:first-child{
font-size:18px;
}

.hero-text h1:last-child{
font-size:30px;
}

.hero p{
font-size:13px;
letter-spacing:3px;
}

.products{
grid-template-columns:1fr;
}

.pinterest-grid{
column-count:1;
padding:20px;
}

.outfits h2{
font-size:24px;
}


.shop-grid{
display: grid;
grid-template-columns:repeat(2, 1fr);
gap:15px;
padding:15px;
}

.shop-card{
width:100%;
border-radius:20px;
overflow:hidden;
}

.shop-card img{
width:100%;
height:auto;
object-fit:cover;
}

.categories h2{
font-size:22px;
letter-spacing:4px;
padding:10px 20px;
border-radius:10px;
}

}

/*TELEFON FOARTE MIC */

@media (max-width:480px){

.hero-img{
height:38vh;
}

.hero h1{
font-size:28px;
}

.hero p{
font-size:14px;
}

}

/*====ABOUT SECTION ====*/

.about-section{
max-width:900px;
margin:120px auto;
text-align:center;
padding:20px;
}

.about-section h2{
font-family:'Playfair Display', serif;
font-size:42px;
letter-spacing:2px;
margin-bottom:25px;
color:white;
}

.about-section p{
font-family:'Playfair Display', serif;
font-size:18px;
line-height:1.8;
color:#cfcfcf;
max-width:700px;
margin:auto;
}

/*=== TITLU SI DESCRIERE OUTFITURI ==*/

.outfit-title{
font-family:'Playfair Display', serif;
text-align:center;
font-size:38px;
letter-spacing:2px;
margin-top:50px;
margin-bottom:60px;
font-weight:500;
}

.outfit-title::after{
content:"";
display:block;
width:60px;
height:2px;
background:white;
margin:15px auto 0;
}

.outfit-description{
font-family:'Playfair Display', serif;
text-align:center;
max-width:420px;
margin-top:25px;
font-size:17px;
line-height:1.7;
color:#d6d6d6;
}

/*==FOOTER DE JOS==*/

.footer{
text-align:center;
padding:70px 20px;
margin-top:100px;
}

.footer-line{
width:60px;
height:1px;
background:#ccc;
margin:0 auto 30px auto;
}

.footer-logo{
font-size:24px;
margin-bottom:15px;
}

.footer-text{
max-width:500px;
margin:auto;
font-size:15px;
color:#666;
line-height:1.6;
margin-bottom:15px;
}

.footer-disclaimer{
font-size:13px;
color:#888;
max-width:500px;
margin:auto;
margin-bottom:20px;
}

.footer-copy{
font-size:13px;
color:#999;
}


/*==IMAGINILE DE JOS==*/

.about-container{
display:flex;
align-items:center;
gap:80px;
margin-top:40px;
}

.about-images{
position:relative;
width:450px;
}

.img-main{
width:100%;
}

.img-left{
position:absolute;
left:-60px;
bottom:40px;
width:180px;
}

.img-right{
position:absolute;
right:-40px;
top:40px;
width:140px;
}


/*===Steluta==*/

.icon-divider{
text-align:center;
font-size:22px;
margin-bottom:40px;
}